<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrintStickers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrintStickers.Properties.Settings>
            <setting name="StikerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StikerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductDivHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductFontStyleBolt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductFontStyleItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientDivHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientFontStyleBolt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientFontStyleItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceLogoToProduct" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductCategories" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceUpToLogo" serializeAs="String">
                <value>0</value>
            </setting>
        </PrintStickers.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>